* {
  list-style: none;
}
body {
  background-color: #0f0e17 !important;
}
.checked {
  text-decoration: line-through;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
h1 {
  color: #f25f4c !important;
  text-align: center;
}
ul {
  padding-left: 0px !important;
}
.timer {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.06);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-size: 1.5rem;
}
.app {
  background-color: #fffffe;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  height: 60vh;
  max-height: 70vh;
  overflow-y: auto;
  width: 30%;
  overflow-x: hidden;
}
@media (max-width: 2000px) {
  .timer {
    width: 400px;
  }
  .app {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .timer {
    width: 300px;
  }
  .app {
    width: 300px;
  }
}
form.form-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper {
  position: relative;
}
.wrapper button {
  position: absolute;

  color: #fffffe;
  background-color: #ff8906;
  border-radius: 0px 20px 20px 0px;
  border-style: none;
  cursor: pointer;
  padding: 6px 15px;
  font-weight: bold;
}
.wrapper button:hover {
  background-color: #de7600;
}
input {
  outline: none;
  border-radius: 20px 0px 0px 20px;
  padding: 5px;
  background: transparent;
  border-color: wheat;
}
li {
  margin-top: 10px;
}

.task-checkbox:checked {
  accent-color: rgb(113, 183, 113);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e53170;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c32f62;
}
label[for="task"] {
  color: #a7a9be;
  margin-bottom: 4px;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
p {
  cursor: pointer;
  margin: 0px !important;
  font-weight: bold;
  color: #f25f4c;
}
